<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TabCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TabCleaner.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TabCleaner.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TabCleaner.Properties.Settings.islemveritabaniConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\islemveritabani.mdb" providerName="System.Data.OleDb"/>
        <add name="TabCleaner.Properties.Settings.islemveritabaniConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Alper\Desktop\islemveritabani.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TabCleaner.Properties.Settings>
            <setting name="mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="closing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tempfileloga" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="thememw" serializeAs="String">
                <value>0</value>
            </setting>
        </TabCleaner.Properties.Settings>
        <TabCleaner.Settings1>
            <setting name="arkaplan" serializeAs="String">
                <value>White</value>
            </setting>
        </TabCleaner.Settings1>
        <TabCleaner.Settings>
            <setting name="darkmode" serializeAs="String">
                <value>White</value>
            </setting>
        </TabCleaner.Settings>
    </userSettings>
</configuration>
